* {
    font-family: Iosevka, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

button {
    padding: 0 5px;
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray {
    padding: 0 10px;
}
